[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pyyaml = "*"
websockets = "*"
httpx = "*"
gradio-client = "*"
pillow = "*"
psutil = "*"
schedule = "*"
wordcloud = "*"
bilibili-api-python = "==16.3.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
